.wall-top {
  position: absolute;
  top: 19.028%;
  left: 20.391%;
  width: 62.031%;
  height: auto;
  z-index: 0; // Behind buildings
  pointer-events: none;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.wall-bottom {
  position: absolute;
  top: 19.028%;
  left: 20.391%;
  width: 62.031%;
  height: auto;
  z-index: 42; // In front of buildings
  pointer-events: none;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }
}